<% include ./partials/header %>

<h1 class="title">Spotify guess the song</h1>
<div class="sign-in">
    <a href="/login/spotify">Login to Spotify</a>
    <form class="sign-in__form">
        <h3>Sign into the game</h3>
        <input type="text" placeholder="Your username">
        <button type="submit">Get in!</button>
    </form>
    <div class="sign-in__users">
        <h3>Users in current lobby</h3>
        <ul>
            <% if(username) { %>
                <li><%= username %></li>
            <% } %>
        </ul>
    </div>
    <!-- <a class="sign-in__play-btn" href="/game">Play</a> -->
</div>

<% include ./partials/footer %>